### Notebook Demo for Processing of Initiative 83 Tests

**Jan 8, 2025**

In [1]:
# from ocr_matching_functions_2024_09 import *
import sys
sys.path.append('..')  # Add parent directory to Python path
from app.ocr_helper import *
from app.fuzzy_match_helper import *

import nest_asyncio
nest_asyncio.apply()

#### Performing Optical Character Recognition on Ballot Petitions

In [2]:
# timing the result
start_time = time.time()

# creating ocr data frame from voter pdfs
ocr_df = create_ocr_df(filedir=f"Initiative Measure No. 83 Petition Sheets", filename="I-83 - p 0001-0100.pdf")

# recording elapsed time; uncomment in the notebook run
print(f'\nElapsed Time: {time.time()-start_time:.3f} secs')

Converting PDF file to Image Format

Cropping Images and Converting to Bytes Objects

  0%|          | 0/100 [00:00<?, ?it/s]

Files Successfully Converted to Bytes
Performing OCR to read Names and Addresses
Processing Batches in 10 per batch

  0%|          | 0/10 [00:00<?, ?it/s]

Processing batch 1 of 10

Processing batch 2 of 10

Processing batch 3 of 10

Processing batch 4 of 10

Processing batch 5 of 10

Processing batch 6 of 10

Processing batch 7 of 10

Processing batch 8 of 10

Processing batch 9 of 10

Processing batch 10 of 10

Elapsed Time: 89.945 secs

In [3]:
ocr_df.head(10)

,OCR Name,OCR Address,Date,OCR Ward,Page Number,Row Number,Filename
0,Adam Eidinger,2448 Massachusetts Ave,1/10/24,2,1,1,I-83 - p 0001-0100.pdf
1,Alan Amsterdam,1868 Mintwood Pl NW #4,1/10/24,1,1,2,I-83 - p 0001-0100.pdf
2,Carmin Ruggiero,2915 Yost Pl NE,1/10/24,5,1,3,I-83 - p 0001-0100.pdf
3,Brian Strege,880 New Jersey Ave SE #228,1/10/24,8,1,4,I-83 - p 0001-0100.pdf
4,Brianna Mcgowan,40 Rhode Island Ave NE,1/10/24,5,1,5,I-83 - p 0001-0100.pdf
5,Cesar Maxit,1830 BELMONT RD,01/13/24,1,2,1,I-83 - p 0001-0100.pdf
6,Chris Otten,2203 Champain St,1/13/24,1,2,2,I-83 - p 0001-0100.pdf
7,Irene Ren Lee Youngeun,2101 Champlain St,1/13/24,1,2,3,I-83 - p 0001-0100.pdf
8,Ellery Grimm Frances,640 Lexington Pl,1/13/24,6,2,4,I-83 - p 0001-0100.pdf
9,Neil Takemoto,2100 19TH ST,1/13/24,1,2,5,I-83 - p 0001-0100.pdf

#### Voter Records

In [4]:
# getting voter records
voter_records = pd.read_csv("06-04-2024 City Wide.csv")

In [5]:
# displaying first few voter records
voter_records.head(10)

,Last_Name,First_Name,Middle_Name,Name_Style,Street_Number,Street_Number_Suffix,Street_Name,Street_Type,Street_Dir_Suffix,Unit_Type,...,SPECIAL ELECTION WARD 4 AND 8(Apr/28/2015),DISTRICT OF COLUMBIA GENERAL ELECTI(Nov/04/2014),SPECIAL BD OF ED ELECTION WARD 8(Jul/15/2014),DC MAYORAL PRIMARY 2014(Apr/01/2014),DIST OF COLUMBIA AT-LARGE SPECIAL E(Apr/23/2013),DISTRICT OF COLUMBIA GENERAL ELECTI(Nov/06/2012),SPECIAL ELECTION WARD 5 COUNCIL(May/15/2012),DC PRESIDENTIAL PREF/COUNCIL PRIMAR(Apr/03/2012),RECALL SPECIAL ELECTION 4B04(Feb/28/2012),2011 DISTRICT OF COLUMBIA SPECIAL E(Apr/26/2011)
0,Aabram,Virginia,Blake,NaN,730,NaN,Lawrence,ST,NE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaby,Erik,NaN,NaN,1300,NaN,4th,St,SE,NaN,...,N,NaN,N,NaN,NaN,N,NaN,NaN,NaN,NaN
2,Aaby,Katherine,Diane,NaN,1854,NaN,Park,Rd,NW,NaN,...,N,NaN,N,N,NaN,A,N,N,N,NaN
3,Aabye,Mary,Annette,NaN,1354,NaN,Euclid,St,NW,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aadland,Alison,Jan Witte,NaN,3945,NaN,Connecticut,Ave,NW,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Aadland,Matthew,Alan,NaN,343,NaN,Cedar,St,NW,Apt,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Aafedt,Alexis,Ann,NaN,1111,NaN,New Jersey,Ave,SE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Aahlad,Mamatha,Surabhi,NaN,1520,NaN,O,ST,NW,APT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Aakre,Nicholas,Dean,NaN,850,NaN,Quincy,ST,NW,APT,...,NaN,NaN,N,NaN,Y,Y,N,NaN,N,NaN
9,Aalaei,Arash,NaN,NaN,2106,NaN,1st,ST,NW,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# getting only necessary information
select_voter_records = create_select_voter_records(voter_records)
select_voter_records

              Full Name             Full Address
0       Virginia Aabram       730 Lawrence ST NE
1             Erik Aaby           1300 4th St SE
2        Katherine Aaby          1854 Park Rd NW
3            Mary Aabye        1354 Euclid St NW
4        Alison Aadland  3945 Connecticut Ave NW
...                 ...                      ...
456185       James TRUE        1824 Monroe St NW
456186       Kelli TRUE           1402 1st St SW
456187     Michael TRUE       1377 Downing St NE
456188      Nathan TRUE    7960 West Beach Dr NW
456189       Peter TRUE        1310 Euclid St NW

[456190 rows x 2 columns]

In [7]:
# timing the result
start_time = time.time()

# creating new matched DF
ocr_matched_df = create_ocr_matched_df(ocr_df, select_voter_records, threshold = 85)

# recording elapsed time; uncomment in the notebook run
print(f'\nElapsed Time: {time.time()-start_time:.3f} secs')

  0%|          | 0/1 [00:00<?, ?it/s]

Elapsed Time: 51.532 secs

In [8]:
# showing result
ocr_matched_df

,OCR Name,OCR Address,Matched Name,Matched Address,Date,Match Score,Valid,Page Number,Row Number,Filename
0,Adam Eidinger,2448 Massachusetts Ave,Adam Eidinger,2448 Massachusetts Ave NW,1/10/24,96.703297,True,1,1,I-83 - p 0001-0100.pdf
1,Alan Amsterdam,1868 Mintwood Pl NW #4,Alan Amsterdam,1858 Mintwood Pl NW,1/10/24,93.506494,True,1,2,I-83 - p 0001-0100.pdf
2,Carmin Ruggiero,2915 Yost Pl NE,Frank Ruggiero,251 10th St NE,1/10/24,63.883848,False,1,3,I-83 - p 0001-0100.pdf
3,Brian Strege,880 New Jersey Ave SE #228,Brian Strege,880 New Jersey Ave SE,1/10/24,94.382022,True,1,4,I-83 - p 0001-0100.pdf
4,Brianna Mcgowan,40 Rhode Island Ave NE,Brianna McGowan,40 Rhode Island Ave NE,1/10/24,96.551724,True,1,5,I-83 - p 0001-0100.pdf
...,...,...,...,...,...,...,...,...,...,...
449,Deborah Otis,3727 9th Street NW #1,Deborah Otis,3727 9th St NW,1/17/24,88.888889,True,100,1,I-83 - p 0001-0100.pdf
450,Elijah Minter,503 Park Rd NW #1,Elijah Minter,503 Park RD NW,1/17/24,91.228070,True,100,2,I-83 - p 0001-0100.pdf
451,Courtney Lamendola,2000 N Street NW #520,Courtney Lamendola,2000 N St NW,1/17/24,84.210526,False,100,3,I-83 - p 0001-0100.pdf
452,Melissa Oberstaedt,146 R St NE,Melissa Oberstaedt,146 R ST NE,1/20/24,95.238095,True,100,4,I-83 - p 0001-0100.pdf
453,Alyssa Paige Miller,27 Q St NW,Alyssa Miller,27 Q St NW,1/24/24,89.655172,True,100,5,I-83 - p 0001-0100.pdf

In [9]:
validated_no = sum(list(ocr_matched_df["Valid"]))
print(f"Number of Valid Signatures: {validated_no}")

Number of Valid Signatures: 249

#### From Helicone Results (https://us.helicone.ai/requests)
- **Processing Time:** 2 minutes for 100 pages
- **Processsing Cost:** 80 cents for 100 pages ($0.008 per page)